# generated minetrack config
servers.json

# intellij
.idea/
out/
*.iml
*.ipr
*.iws

# windows
Thumbs.db
[Dd]esktop.ini
*.lnk

# linux
*~
.Trash-*
.nfs*
.fuse_hidden*
.directory

# mac
.DS_Store
._*
.AppleDouble
.LSOverride
.AppleDB
.AppleDesktop
.apdisk
